@charset "UTF-8";
@font-face {
    font-family: 'FontePadrao';
    src: url("../_fonts/Montserrat-Regular.ttf");
}
@font-face {
    font-family: 'FontePadraoBold';
    src: url("../_fonts/Montserrat-Bold.ttf");
}
@import url(https://fonts.googleapis.com/css?family=Lato);
/* ======= MENU ======== */

.bg-top {
    background-image: url("../_images/bg-top.png");
    height: 364px;
    margin: -8px -8px 0px -8px;
}

.container {
    width: 100%;
    height: 112px;
    background-color: #FFFFFF;
    position: relative;
    margin: 0 auto;
    display: inline-block;

}

nav#menu {
    display: block;
    width: 970px;

}

nav#menu ul {
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top:20px;
    left:284px;
    height: 60px;
}

.btn-top {
    padding: 5px 10px;
    -webkit-border-radius: 25px;
    width: 130px;
    height: 22px;
    background: #38b34f;
    border-bottom: 4px solid #287e38;
    font-weight: bold;
    position: absolute;
    top:24px;
    left: 744px;
    margin: 10px;
}
.btn-top:active{
    background: #287e38;
    border-bottom: 4px solid #38b34f;
}
.bg-top .btn-text {
    color: #FFFFFF;
    font-family: FontePadrao;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    position: absolute;
    margin: 4px 6px auto;
    letter-spacing: 1px;
    width: 122px;
}
.container .container-conteudo {
    width: 940px;
    position: relative;
    margin: 0 auto;
}

nav#menu li {
    font-family: FontePadrao;
    font-size: 12px;
    color: #2f9442;
    display: inline-block;
    margin: 10px;
    height: 60px;
}


nav#menu li a{
    display: block;
    color: #2f9442;
    text-decoration: none;
    height: 60px;
}

header#cabecalho img#logo-header {
    position: relative;
    top: 14px;
    left: 20px;
}
header#cabecalho {
    height: 112px;
    background-color: #FFFFFF;
    width: 100%;

}

li:hover {
    border-bottom: 3px solid #2f9442;
}
/* ======= FIM MENU ======== */

/* ======= FRASE BANNER ======== */

div#banner-frase-1-bg {
    margin: 58px 0px auto;
    background-color: #000000;
    width: 642px;
    height: 50px;
    display: inline-block;
}
h2#banner-frase-1 {
    font-family: FontePadraoBold;
    font-size: 34px;
    text-transform: uppercase;
    margin:5px auto;
    color: #FFFFFF;
    text-align: center;
}
div#banner-frase-2-bg {
    margin: 0px 28px auto;
    background-color: #FFFFFF;
    width: 600px;
    height: 78px;
    display: inline-block;
}
h2#banner-frase-2 {
    font-family: FontePadraoBold;
    font-size: 50px;
    text-transform: uppercase;
    margin:-92px 24px auto;
    color: #287d38;
    text-align: right;
}
div#banner-topo {
    height: 250px;
}
div#obj-banner {
    content: "";
    border-left: 0px solid transparent;
    border-right: 106px solid transparent;
    border-top: 100px solid #383838;
    width: 0px;
    margin-left: -16px;
}
div#banner-baixo {
    width: 940px;
    height: 100px;
    position: relative;
}
div#frase-destaque{
    font-family: FontePadrao;
    font-size: 34px;
    margin:15px auto 28px;
    color: #000000;
    text-align: center;
}

/* ======= FIM FRASE BANNER ======== */

.linha{
    margin-top: 18px;
    border-color: #38b34f;
    opacity: 0.4;
}
/* ======= CONTEÚDO DA PÁGINA ======== */

.container .conteudo {
    position: relative;
    height: 624px;

}
.container .conteudo .h2-padrao{
    font-family: FontePadrao;
    font-size: 20px;
    text-align: center;
}
.container .conteudo div#lado-esquerdo {
    width: 300px;
    float: left;
}
.container .conteudo div#lado-esquerdo form#form-esquerdo{
    position: relative;
    margin-left: 80px;
}
.container .conteudo div#lado-esquerdo .item-form{
    font-family: "Myriad Pro";
    font-size: 17px;
    position: relative;
    margin-left: 5px;
}
.container .conteudo div#lado-esquerdo .item-form-margin {
    margin-top: 10px;
}
.container .conteudo div#lado-esquerdo .h3-esquerdo{
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}
input:focus{outline:none;}

.textbox {
    background: #F1F1F1 url(../_imagens/pin.png) no-repeat;
    background-position: 0px 2px !important;
    padding: 10px 10px 10px 25px;
    width: 263px;
    height: 10px;
    border: 1px solid #CCC;
    border-radius: 5px;
    box-shadow: 0 1px 1px #CCC inset, 0 1px 0 #FFF;
    font-family: Lato,sans-serif;
    color: #38b34f;
    outline: 0;
    margin-top: -10px;
}

.textbox:focus {
    background-color: #FFF;
    border-color: #38b34f;
    outline: none;
    -moz-box-shadow: 0 0 0 1px #38b34f inset;
    -webkit-box-shadow: 0 0 0 1px #38b34f inset;
    box-shadow: 0 0 0 1px #38b34f inset;
}

div#lado-direito{
    float: left;
    position: relative;
    margin: -350px 326px auto;
}
/* ======= FIM CONTEÚDO DA PÁGINA ======== */

/* ======= FOOTER ======== */

.footer {
    background-color: #174720;
    color: #FFFFFF;
    font-family: FontePadrao;
    font-size: 11px;
    height: 230px;
    display: inline-block;
    width: 100%;
}
.footer .footer-esquerdo{
    position: relative;
    width: 312px;
    text-align: justify;
    margin: 10px 10px auto;
    float: left;
}
.footer .footer-esquerdo img{
    margin-bottom: -10px;
}
.footer .footer-direito{
    position: relative;
    width: 312px;
    height: 168px;
    margin: 10px 10px auto;
    background-color: #FFFFFF;
    float: right;
}
.footer .footer-centro{
    width: 276px;
    float: right;
    display: inline-block;
}
.footer .footer-centro a{
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    font-family: FontePadrao;
    font-size: 11px;
    position: relative;
    line-height: 20px;
}
.footer .footer-centro .footer-centro-conteudo{
    margin-left: 52px;
}
.footer .footer-baixo{
    position: relative;
    margin-top: 12px;
    width: 940px;
    height: 30px;
    background-color: #103116;
    display: inline-block;
}
.footer .footer-baixo p {
    text-align: center;
    margin-top: 8px;
}